*{
    font-family: sans-serif;
}
p{
    margin: 10px;
    margin-bottom: 40px;
}
.btn{
        width: fit-content;
         display: flex;
    cursor: pointer;
    margin: 25px 25px;
}
.modal-window{
    position: absolute;
    right: 50px;
    opacity: 0;
    transition: .3s;
    top: 70px;
    width: 450px;
    background: rgb(233, 233, 233);
    border: 3px solid rgb(66, 11, 11);
}

.btn-js{
    cursor: pointer;
    display: flex;
    position: absolute;
    color: #fff;
    z-index: 5;
    border: none;
    padding: 10px 15px;
right: 5px;
bottom: 5px;
    background: red;
    outline: none;
}
