.btn{
    width: fit-content;
     display: flex;
cursor: pointer;
margin: 25px 25px;
}
.traffic-lights{
    position: absolute;
    right: 40px;
    width: 80px;
    display: flex;
    flex-direction: column;
}
.light{
    width: inherit;
    height: 80px;
    border: 4px solid #000;
}
.color-red{
    background: red;
}
.color-yellow{
    background: yellow;
}
.color-green{
    background: green;
}